<template>
    <div class="card m-4" v-cloak>
        <div class="card-header d-flex align-items-center justify-content-between">
            <div>
                <input type="text" class="form-control" v-model="filter" placeholder="搜尋" />
            </div>

            <div class="d-flex align-items-center col-6">
                <div class="col-lg-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-warning btn-sm mx-1" @click.prevent="readAll"><i class="fa fa-envelope-open"></i> 全部讀取</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <b-table hover="hover" class="table-responsive-sm" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :sort-compare="sortCompareAdvanced" @filtered="onFiltered">
                <div slot="actions" slot-scope="row">
                    <button type="button" class="btn btn-primary btn-sm mx-1" @click.prevent="displayEmail(row.item)"><i class="fa fa-eye"></i></button>
                    <a v-if="row.item.attachment" :href="getDownloadUrl(row.item.attachment)" class="btn btn-sm btn-primary"><i class="fa fa-paperclip"></i></a>
                    <button v-if="canDelete" type="submit" class="btn btn-danger btn-sm mx-1" @click.prevent="deleteItem(row.item.id)"><i class="fa fa-trash"></i></button>
                </div>
                <div slot="read" slot-scope="row">
                    <span v-if="row.item.read" class="badge badge-success">已讀</span>
                    <span v-else class="badge badge-danger">未讀</span>
                </div>
            </b-table>
            <pagination-component></pagination-component>
        </div>
        <b-modal title="郵件內容" class="modal-primary" size="lg" v-model="showEmail" v-cloak>
            <div id="email-content"></div>
            <div slot="modal-footer" class="w-100">
                <button type="button" class="btn primary btn-sm float-right" @click.prevent="showEmail = false">Close</button>
            </div>
        </b-modal>
    </div>
</template>

<script>
    import bTable from 'bootstrap-vue/es/components/table/table';
    import PaginationComponent from './PaginationComponent';
    import BaseTable from './BaseTable';
    import cSwitch from './../Switch.vue';
    import bModal from 'bootstrap-vue/es/components/modal/modal';

    export default {
        components: { bTable, PaginationComponent, cSwitch, bModal },

        extends: BaseTable,

        data() {
            return {
                showEmail: false,
            }
        },

        methods: {
            displayEmail(item) {
                this.showEmail = true;
                this.markRead(item);
                document.getElementById('email-content').innerHTML = item.content;
            },

            markRead(item) {
                const http = axios.create({
                    baseURL: `${this.apiUrl}/${item.id}/read`,
                });

                this.setApiToken(http);

                http.post().then(() => {
                    item.read = 1;
                }).catch((err) => {
                    notify('error', '系統錯誤');
                })
            },



            readAll() {
                const http = axios.create({
                    baseURL: `${this.apiUrl}/read-all`,
                });

                this.setApiToken(http);

                http.post().then(() => {
                    window.location.reload();
                }).catch((err) => {
                    notify('error', '系統錯誤');
                })
            },

            getDownloadUrl(file) {
                return `${this.baseUrl}/download?file=${file}`;
            },
        }
    }
</script>