<template>
    <nav>
        <div class="row">
            <div class="col-md-2 my-1">
                <div class="input-group mr-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text border-secondary" for="page">每頁筆數</label>
                    </div>
                    <select id="page" class="form-control custom-select" v-model="$parent.perPage">
                        <option v-for="option in $parent.pageOptions" :value="option" v-text="option"></option>
                    </select>
                </div>
            </div>
            <div class="col-md-10 my-1">
                <b-pagination class="pull-right" v-show="$parent.totalRows > $parent.perPage" :total-rows="$parent.totalRows" :per-page="$parent.perPage" v-model="$parent.currentPage" prev-text="上一頁" next-text="下一頁" hide-goto-end-buttons/>
            </div>
        </div>
    </nav>
</template>

<script>
    import bPagination from 'bootstrap-vue/es/components/pagination/pagination';

    export default {
        components: { bPagination },
    }
</script>