<template>
    <div class="card m-4" v-cloak>
        <div class="card-header d-flex align-items-center justify-content-between">
            <div>
                <input type="text" class="form-control" v-model="filter" placeholder="搜尋" />
            </div>
            <div class="d-flex align-items-center col-3" v-if="categories">
                <multi-level-select :data-tree="categories"
                                    placeholder="類別賽選"
                                    @input="filterBy('category_id', $event)"
                ></multi-level-select>
            </div>
            <div class="d-flex align-items-center col-3">
                <div class="col-lg-6">
                    <select v-if="languages && languages.length > 1" class="form-control d-inline" @change="filterBy('lang', $event.target.value)" v-cloak>
                        <option v-for="language in languages" :value="language.id">{{ language.name }}</option>
                    </select>
                </div>
                <div class="col-lg-6" v-if="canCreate">
                    <div class="pull-right">
                        <a :href="getCreateUrl()" class="btn btn-success" style="margin:auto"><i class="fa fa-plus"></i> 新增</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <b-table hover="hover" class="table-responsive-sm" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :sort-compare="sortCompareAdvanced" @filtered="onFiltered">
                <div slot="actions" slot-scope="row">
                    <slot name="custom-actions" :row="row" :fn-edit="getEditUrl" :fn-delete="deleteItem">
                        <a v-if="canEdit" :href="getEditUrl(row.item.id)" class="btn btn-sm btn-primary"><i class="fa fa-pencil-square-o"></i></a>
                        <a v-if="canCopy" :href="getCopyUrl(row.item.id)" class="btn btn-sm btn-primary"><i class="fa fa-files-o"></i></a>
                        <button v-if="canDelete" type="submit" class="btn btn-danger btn-sm mx-1" @click.prevent="deleteItem(row.item.id)"><i class="fa fa-trash"></i></button>
                    </slot>
                </div>

                <div slot="status" slot-scope="row">
                    <c-switch type="text" variant="success" on="On" off="Off" class="switch-pill" :checked="!!row.item.status" @change="changeStatus(row.item.id, row.item.status)"></c-switch>
                </div>
            </b-table>
            <pagination-component></pagination-component>
        </div>
    </div>
</template>

<script>
    import bTable from 'bootstrap-vue/es/components/table/table';
    import PaginationComponent from './PaginationComponent';
    import BaseTable from './BaseTable';
    import cSwitch from './../Switch.vue';

    export default {
        components: { bTable, PaginationComponent, cSwitch },

        extends: BaseTable,
    }
</script>