<template>
    <div>
        <div v-if="isRange" class="date-range-picker d-flex align-items-center">
            <vue-datepicker-local v-model="range" :format="format" clearable v-bind="$attrs" class="w-100" />

            <input type="hidden" v-if="name && startDate" :name="name + '_start'" :value="startDate">
            <input type="hidden" v-if="name && endDate" :name="name + '_end'" :value="endDate">
        </div>
        <div v-else class="date-range-picker d-flex align-items-center">
            <vue-datepicker-local v-model="date" :format="format" clearable v-bind="$attrs" class="w-100" />

            <input type="hidden" v-if="name" :name="name" :value="dateField">
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    import VueDatepickerLocal from 'vue-datepicker-local'

    export default {
        components: { VueDatepickerLocal },

        props: {
            name: {
                type: String,
                default: null,
            },
            start: {
                type: String,
                default: null,
            },
            end: {
                type: String,
                default: null,
            },
            isRange: {
                type: Boolean,
                default: false,
            }
        },

        created() {
            if (this.isRange) {
                this.initRange();
            } else {
                this.initDate();
            }

        },

        data() {
            return {
                format: 'YYYY-MM-DD',
                range: [],
                date: null,
            }
        },

        computed: {
            startDate() {
                if (!this.range[0]) { return null; }
                return moment(this.range[0]).format(this.format);
            },
            endDate() {
                if (!this.range[1]) { return null; }
                return moment(this.range[1]).format(this.format);
            },
            dateField() {
                if (!this.date) { return null; }
                return moment(this.date).format(this.format);
            }
        },

        methods: {
            initRange() {
                if (this.start) {
                    this.range[0] = moment(this.start).toDate();
                }
                if (this.end) {
                    this.range[1] = moment(this.end).toDate();
                }
            },

            initDate() {
                if (this.start) {
                    this.date = moment(this.start).toDate();
                }
            },
        }
    }
</script>

<style lang="scss">
    .date-range-picker .datepicker > input {
        height: calc(2.0625rem + 2px);
    }
    .date-range-picker .datepicker-range {
        width: 100%;
        min-width: auto;

        .datepicker-popup {
            box-sizing: content-box;
        }
    }

    @media (max-width: 575.98px) {
        .date-range-picker .datepicker-range .datepicker-popup {
            width: 196px;
        }
        .date-range-picker .calendar + .calendar {
            border-left: 0;
            margin-left: 0;
            padding-left: 0;
        }
    }
</style>
