<template>
    <div>
        <button type="button" class="btn btn-primary btn-sm mx-1" @click.prevent="toggle">選擇圖示</button>
        <i v-if="selected" class="fa" :class="selected"></i>

        <input type="hidden" name="icon" :value="selected">
        <div class="popover" style="top: 0; left: 120px;">
            <font-awesome-picker v-if="show" seachbox="搜尋..." @selectIcon="pickIcon"></font-awesome-picker>
        </div>
    </div>
</template>

<script>
    import { fontAwesomePicker } from 'font-awesome-picker';

    export default {
        components: { fontAwesomePicker },

        props: {
            icon: {
                type: String,
                default: 'fa-fw'
            }
        },

        data () {
            return {
                show: false,
                selected: this.icon,
            };
        },

        methods: {
            pickIcon(selectedIcon) {
                this.show = false;
                this.selected = selectedIcon.className;
            },

            toggle() {
                this.show = !this.show;
            }
        }
    }
</script>