<template>
    <div>
        <div class="form-group row" v-for="(label, i) in items">
            <label class="col-sm-2 col-form-label" v-text="`${title} ${i + 1}`"></label>
            <div class="col-sm-10">
                <div class="input-group mb-3">
                    <input :type="type" class="form-control" required v-model="items[i]">
                    <div class="input-group-append">
                        <button class="btn btn-danger" @click.prevent="removeLabel(i)"><i class="fa fa-trash"></i> 刪除</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-success" @click.prevent="addLabel"><i class="fa fa-plus"></i> 新增</button>

        <input type="hidden" :name="name" :value="JSON.stringify(labels)">
    </div>
</template>

<script>
    export default {
        name: "MultiLabeler",

        props: {
            labels: {
                type: Array,
                required: true,
            },
            name: {
                type: String,
                required: true,
            },
            title: {
                type: String,
                default: 'Editor',
            },
            type: {
                type: String,
                default: 'text',
            },
        },

        data() {
            return {
                items: this.labels,
            };
        },

        methods: {
            addLabel() {
                this.items.push('');
            },

            removeLabel(index) {
                this.items.splice(index, 1);
            },
        },
    }
</script>