<template>
    <input type="text" :id="name" :name="name" v-model="slug" placeholder="">
</template>

<script>
    export default {
        props: {
            name: {
                type: String,
                default: 'slug',
            },
            oldSlug: {
                type: String,
                required: false
            }
        },
        mounted() {
            this.slug = this.oldSlug;
        },
        data() {
            return {
                slug: '',
            }
        },
        methods: {
            setSlug(newVal) {
                if (newVal === '') return '';
                let result;
                result = newVal.toLowerCase();
                result = result.replace(/[^\w\u3040-\u30ff\u3400-\u4dbf\u4e00-\u9fff\uf900-\ufaff\uff66-\uff9f\s\-\.\_~]/g, '');
                result = result.replace(/^\s+|\s+$/g, ''); // trim leading/trailing spaces
                result = result.replace(/[-\s]+/g, '-'); // convert spaces
                result = result.replace("-$",''); // remove trailing separator
                this.slug = result;
            },
        },
        watch: {
            slug: _.debounce(function() {
                this.setSlug(this.slug);
            }, 500)
        }
    }
</script>
