<template>
    <div>
        <tree-select
                v-model="values"
                :multiple="multiple"
                :options="options"
                :placeholder="placeholder"
                v-bind="$attrs"
        />

        <input v-if="multiple" v-for="(val, index) in values" :key="index"
               type="hidden" :name="field + '[]'" :value="val">
        <input v-else type="hidden" :name="field" :value="values">
    </div>
</template>

<script>
    import TreeSelect from '@riophae/vue-treeselect';

    export default {
        components: { TreeSelect },

        props: {
            multiple: {
                type: Boolean,
                default: true,
            },
            field: {
                type: String,
                default: 'id[]'
            },
            modelId: {
                type: String,
                default: 'id',
            },
            modelLabel: {
                type: String,
                default: 'name',
            },
            models: {
                type: Array,
                required: true,
            },
            selectedId: {
                default: null,
            },
            placeholder: {
                type: String,
                default: '請選擇',
            }
        },

        data () {
            return {
                values: null,
            }
        },

        created () {
            if (this.selectedId) {
                this.values = this.multiple ? this.selectedId : this.selectedId[0];
            }
        },

        watch: {
            values: {
                deep: true,
                handler () {
                    this.$emit('input', this.values);
                }
            }
        },

        computed: {
            options () {
                return this.models.map(model => {
                    let label = model.trans ? model.trans[this.modelLabel] : model[this.modelLabel];
                    return {
                        id: model[this.modelId],
                        label: label,
                        isDefaultExpanded: true,
                    };
                })
            },
        },
    }
</script>

<style lang="scss">
    @import '../../../../../node_modules/@riophae/vue-treeselect/dist/vue-treeselect.css';
</style>
