<template>
    <div>
        <tree-select
                v-model="value"
                :flat="flat"
                :multiple="multiple"
                :disable-branch-nodes="disableBranchNodes"
                :options="options"
                :placeholder="placeholder"
                v-bind="$attrs"
                @input="$emit('input', value)"
        />

        <input v-if="field" type="hidden" :name="field" :value="value">
    </div>
</template>

<script>
    import TreeSelect from '@riophae/vue-treeselect';

    export default {
        components: { TreeSelect },

        props: {
            field: {
                type: String,
                default: 'parent_id'
            },
            parentCategoryId: {
                default: null,
            },
            categoryId: {
                default: null,
            },
            dataTree: {
                type: Array,
                required: true,
            },
            appendRoot: {
                type: Boolean,
                default: false,
            },
            flat: {
                type: Boolean,
                default: false,
            },
            multiple: {
                type: Boolean,
                default: false,
            },
            disableBranchNodes: {
                type: Boolean,
                default: false,
            },
            placeholder: {
                type: String,
                default:'請選擇',
            }
        },

        data () {
            return {
                value: null,
            }
        },

        created () {
            this.value = this.parentCategoryId;
        },

        computed: {
            options () {
                if (!this.dataTree) {
                    return [];
                }

                let options = this.dataTree.map(tree => {
                    return this.convertTreeData(tree);
                });

                if (this.appendRoot) {
                    return [{
                        id: 0,
                        label: '/',
                        children: options,
                        isDefaultExpanded: true,
                    }];
                }

                return options;
            },
        },

        methods: {
            convertTreeData(tree) {
                let children = [];

                if (tree.children && tree.children.length) {
                    children = tree.children.map(child => {
                        return this.convertTreeData(child);
                    });
                }

                children = children.length ? children : undefined;

                let category = tree.category ? tree.category : tree;
                let isSelfCategory = category.id === this.categoryId;
                let translation = category.trans;
                return {
                    id: category.id,
                    label: translation ? translation.name : category.name,
                    children: children,
                    isDefaultExpanded: true,
                    isDisabled: isSelfCategory,
                }
            },
        },
    }
</script>

<style lang="scss">
    @import '../../../../../node_modules/@riophae/vue-treeselect/dist/vue-treeselect.css';
</style>