<template>
    <div class="ck-editor">
        <textarea
                :name="name"
                :id="id"
                :value="value"
                :types="types"
                :config="config">
        </textarea>
    </div>
</template>

<script>
    let inc = new Date().getTime()
    export default {
        name: "CkEditor",

        props: {
            name: {
                type: String,
                default: () => `editor-${++inc}`
            },
            value: {
                type: String
            },
            id: {
                type: String,
                default: () => `editor-${inc}`
            },
            types: {
                type: String,
                default: () => `classic`
            },
            config: {
                type: Object,
                default: () => {
                    return {
                        height: 450,
                        image_prefillDimensions: false,
                        allowedContent: true,
                        filebrowserImageBrowseUrl: 'javascript:void(0)'
                    }
                }
            }
        },

        data () {
            return { destroyed: false }
        },

        computed: {
            instance () {
                return CKEDITOR.instances[this.id]
            }
        },

        watch: {
            value (val) {
                if (this.instance) {
                    this.update(val)
                }
            }
        },

        mounted () {
            this.create()
        },

        beforeDestroy () {
            this.destroy()
        },

        methods: {
            create () {
                if (typeof CKEDITOR === 'undefined') {
                    console.log('CKEDITOR is missing (http://ckeditor.com/)')
                } else {
                    if (this.types === 'inline') {
                        CKEDITOR.inline(this.id, this.config)
                    } else {
                        CKEDITOR.replace(this.id, this.config)
                    }
                    CKEDITOR.dtd.$removeEmpty['i'] = false;
                    CKEDITOR.dtd.$removeEmpty['span'] = false;
                    this.instance.setData(this.value)
                    this.instance.on('instanceReady', () => {
                        this.instance.setData(this.value)
                    })
                    this.instance.on('change', this.onChange)
                    this.instance.on('blur', this.onBlur)
                    this.instance.on('focus', this.onFocus)
                    CKEDITOR.on('dialogDefinition', (ev) => {
                        this.onDialog(ev);
                    });
                }
            },
            update (val) {
                let html = this.instance.getData()
                if (html !== val) {
                    this.instance.setData(val)
                }
            },
            destroy () {
                if (!this.destroyed) {
                    this.instance.focusManager.blur(true)
                    this.instance.removeAllListeners()
                    this.instance.destroy()
                    this.destroyed = true
                }
            },
            beforeDestroy() {
                EventHub.removeListenersFrom('file_selected');
            },
            onChange () {
                let html = this.instance.getData()
                if (html !== this.value) {
                    this.$emit('input', html)
                }
            },
            onBlur () {
                this.$emit('blur', this.instance)
            },
            onFocus () {
                this.$emit('focus', this.instance)
            },
            onDialog(ev) {
                // dialogDefinition is a ckeditor event it's fired when ckeditor dialog instance is called
                var dialogName = ev.data.name;
                var dialogDefinition = ev.data.definition;
                if (dialogName == 'image') { //dialogName is name of dialog and identify which dialog is fired.
                    var infoTab = dialogDefinition.getContents('info'); // get tab of the dialog
                    var browse = infoTab.get('browse'); //get browse server button
                    dialogDefinition.removeContents('Link');
                    browse.onClick = function() {
                        //here we can invoke our custom fileuploader or server files popup
                        document.querySelector('.__Inmodal-editor').click();
                        EventHub.listen('file_selected', (path) => {
                            this.getDialog().getContentElement( 'info', 'txtUrl' ).setValue( path );
                        })
                    };
                }
            }
        }
    }
</script>
<style scoped>
    .ckeditor::after {
        content: "";
        display: table;
        clear: both;
    }
</style>