<template>
    <div class="editor-container">
        <label class="col-sm-2 col-form-label pt-0" v-if="title" v-text="title"></label>

        <b-tabs content-class="border-0">
            <b-tab class="p-0" v-for="(label, i) in labels" :key="i" :title="label">
                <ck-editor v-model="editors[i]"></ck-editor>
            </b-tab>
        </b-tabs>

        <input v-for="editor in editors"
               type="hidden"
               :name="`${name}[]`"
               :value="editor"
        />
    </div>
</template>

<script>
    import bTabs from 'bootstrap-vue/es/components/tabs/tabs';
    import bTab from 'bootstrap-vue/es/components/tabs/tab';
    import ckEditor from './CkEditor';

    export default {
        components: { bTabs, bTab, ckEditor },

        props: {
            labels: {
                type: Array,
                default: [],
            },
            items: {
                type: Array,
                default: [],
            },
            title: {
                type: String,
                default: null,
            },
            name: {
                type: String,
                default: 'editors',
            },
        },

        created () {
            for (let index in this.labels) {
                let item = this.items ? this.items[index] : null;
                let content = item || '';
                this.editors.push(content);
            }
        },

        data () {
            return {
                editors: [],
            };
        },

        watch: {
            editors: {
                deep: true,
                handler () {
                    this.$emit('change');
                }
            }
        },
    }
</script>


<style lang="scss">
    .editor-container {
        .nav-tabs {
            margin-top: 0rem !important;
        }

        .nav-item {
            margin-right: 5px;
        }

        .nav-link {
            padding-top: .3rem !important;
            padding-bottom: .3rem !important;
        }

        .nav-link.active {
            border-top: 1px solid #c3d0d8 !important;
            background-color: #20a8d8 !important;
            color: #fff !important;
            border-top-left-radius: 0.3rem;
            border-top-right-radius: 0.3rem;
        }
    }
</style>
