// Vue
[v-cloak] {
  display: none;
}

// Notification
.vue-notification {
  border-left: 0px !important;
  box-shadow: 2px 2px 8px #555;
}
.notification-content {
  font-size: 14px;
}
.notify-bottom-right {
  bottom: 70px !important;
  right: 20px !important;
}

// Pace
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  top: 0;
  right: 100%;
  z-index: 2000;
  width: 100%;
  height: 2px;
  background: theme-color("primary");
}

// sidebar
.sidebar {
  .nav-dropdown.open>.nav-dropdown-toggle {
    color: #fff;
    border-left: 3px solid #20a8d8;
  }

  .nav-link.active,
  .navbar .active.dropdown-toggle,
  .navbar .active.dropdown-toggle {
    color: #fff;
    background: #1f292e;
    border-left: 3px solid #20a8d8;
  }

  .border-center {
    width: 100%;
    position: relative;

    span {
      background-color: #2f353a;
      display: inline-block;
      padding: 5px;
      position: relative;
      z-index: 5;
      left: 45%;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 30%;
      border-bottom: 2px #62c2de solid;
      width: 85%;
      z-index: 0;
    }
  }
}