<template>
    <div class="card" v-if="show">
        <div class="card-header d-md-flex">
            <div class="left d-flex">
                <div v-text="title"></div>

                <button class="ml-2 btn btn-success btn-sm"
                        @click.prevent="add"
                        v-if="canAddNew">
                    <i class="fa fa-plus"></i>
                    <span class="d-none d-md-inline">新增</span>
                </button>
            </div>

            <div class="right ml-auto d-flex">
                <div class="max mr-2">
                    <span class="badge badge-info text-light">筆數</span>
                    <small>
                        <span v-text="collections.length"></span>
                        <span>/</span>
                        <span v-text="config.max"></span>
                    </small>
                </div>

                <div class="dimensions mr-2">
                    <span class="badge badge-info text-light">建議尺寸</span>
                    <small>
                        <span v-text="config.width"></span>
                        <span>x</span>
                        <span v-text="config.height"></span>
                    </small>
                </div>
            </div>
        </div>

        <div class="card-body px-2 pb-0">
            <div class="d-flex flex-wrap collection-container">
                <p v-if="!collections.length" class="card-title text-center w-100">無項目</p>

                <div v-for="(collection, index) in collections" :key="index"
                     class="card collection-item">

                    <div class="card-img-top image-container" @click="toggleModal(index, 'image_path')">
                        <div class="image-inner-container d-flex justify-content-center align-items-center">
                            <img v-if="collection.image_path" :src="collection.image_path">

                            <svg v-else viewBox="0 0 24 24">
                                <path fill="#aaa" d="M5,3A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H14.09C14.03,20.67 14,20.34 14,20C14,19.32 14.12,18.64 14.35,18H5L8.5,13.5L11,16.5L14.5,12L16.73,14.97C17.7,14.34 18.84,14 20,14C20.34,14 20.67,14.03 21,14.09V5C21,3.89 20.1,3 19,3H5M19,16V19H16V21H19V24H21V21H24V19H21V16H19Z" />
                            </svg>
                        </div>
                    </div>

                    <div class="order-container">
                        <span class="badge badge-info text-light" v-text="'#' + collection.sort"></span>
                    </div>

                    <div class="card-footer text-center px-2 py-2">
                        <div>
                            <input type="text" v-model="collection.image_path" class="form-control" />
                        </div>

                        <div class="mt-2">
                            <div class="btn-group btn-block">
                                <button @click="openModal(index)" type="button" class="btn btn-sm btn-primary" style="flex-grow: 1;">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    <span class="d-none d-md-inline">內容</span>
                                </button>
                                <button @click="remove(index)" type="button" class="btn btn-sm btn-danger" style="flex-grow: 1;">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                    <span class="d-none d-md-inline">刪除</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <b-modal title="詳細資訊" class="modal-primary"
                 v-model="isModalShow"
                 @ok="closeModal"
                 ok-variant="success"
                 v-cloak>

            <div class="form-group row" v-if="Number(config.fields.name)">
                <label class="col-sm-3 col-form-label">標題</label>
                <div class="col-sm-9">
                    <input type="text" v-model="modalCollection.name" class="form-control" />
                </div>
            </div>

            <div class="form-group row" v-if="Number(config.fields.description)">
                <label class="col-sm-3 col-form-label">描述</label>
                <div class="col-sm-9">
                    <input type="text" v-model="modalCollection.description" class="form-control" />
                </div>
            </div>

            <div class="form-group row" v-if="Number(config.fields.video_url)">
                <label class="col-sm-3 col-form-label">影片連結</label>
                <div class="col-sm-9">
                    <input type="text" v-model="modalCollection.video_url" class="form-control" />
                </div>
            </div>

            <div class="form-group row" v-if="Number(config.fields.url)">
                <label class="col-sm-3 col-form-label">連結</label>
                <div class="col-sm-9">
                    <input type="text" v-model="modalCollection.url" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">排序</label>
                <div class="col-sm-9">
                    <input type="text" v-model="modalCollection.sort" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">狀態</label>
                <b-form-checkbox class="ml-3 pt-2" v-model="modalCollection.status" :value="1" :unchecked-value="0">
                    {{ modalCollection.status ? '啟用' : '停用' }}
                </b-form-checkbox>
            </div>
        </b-modal>

        <input v-if="name" type="hidden" :name="name" :value="JSON.stringify(collections)">
        <input v-if="name" type="hidden" :name="'deleted_' + name" :value="JSON.stringify(deletedCollection)">
    </div>
</template>

<script>
    import bModal from 'bootstrap-vue/es/components/modal/modal';
    import bFormCheckbox from 'bootstrap-vue/es/components/form-checkbox/form-checkbox';

    export default {
        components: { bModal, bFormCheckbox },

        props: {
            config: {
                type: Object,
                required: true,
            },
            items: {
                type: Array,
                default: () => [],
            },
            title: {    // display in label
                type: String,
                required: true,
            },
            type: { // collection type
                type: String,
                required: true,
            },
            sort: {
                type: Number,
                default: 1000,
            },
            name: { // input name
                type: String,
                default: null,
            },
        },

        data() {
            return {
                collections: this.items,
                deletedCollection: [],
                processingCollectionId: null,
                processingCollectionImageType: null,

                isModalShow: false,
                modalCollection: {},
            };
        },

        mounted() {
            window.EventHub.listen('MediaManager::file_selected', ({uid, path}) => {
                if (this._uid === uid && this.processingCollectionId !== null && this.processingCollectionImageType !== null) {
                    this.collections[this.processingCollectionId][this.processingCollectionImageType] = path;
                    this.$forceUpdate();
                }
            });
        },

        beforeDestroy() {
            window.EventHub.removeListenersFrom('MediaManager::file_selected');
        },

        watch: {
            collections: {
                deep: true,
                handler () {
                    this.$emit('change');
                }
            }
        },

        computed: {
            canAddNew() {
                return this.collections.length < this.config.max;
            },
            show() {
                return Number(this.config.enable) && this.config.max > 0;
            },
        },

        methods: {
            toggleModal(index, imageName) {
                this.processingCollectionId = index;
                this.processingCollectionImageType = imageName;
                let collection = this.collections[index];

                window.EventHub.fire('custom-modal-show', {
                    uid: this._uid,
                    width: this.config.width,
                    height: this.config.height,
                    path: collection[imageName],
                });
            },
            add() {
                this.collections.push({
                    id: null,
                    type: this.type,
                    path: null,
                    name: null,
                    description: null,
                    url: null,
                    video_url: null,
                    sort: this.sort,
                    status: 1,
                });
            },
            remove(index) {
                let collection = this.collections[index];

                if (collection.id) {
                    this.deletedCollection.push(collection.id);
                }

                this.collections.splice(index, 1);
            },
            openModal(index) {
                this.processingCollectionId = index;
                this.modalCollection = _.cloneDeep(this.collections[index]);

                this.isModalShow = true;
            },
            closeModal() {
                if (this.processingCollectionId === null) {
                    return false;
                }

                this.collections[this.processingCollectionId] = _.cloneDeep(this.modalCollection);
                this.modalCollection = {};
                this.isModalShow = false;

                this.$emit('change');
            },
        }
    }
</script>

<style lang="scss">
    .collection-container {
        .timer-status-container {
            position: absolute;
            top: -5px;
            left: 0px;
        }
        .order-container {
            position: absolute;
            top: -5px;
            right: 0px;
            letter-spacing: -1px;

            .badge {
                font-weight: 100;
            }
        }

        .collection-item {
            .image-container {
                position: relative;
                width: 100%;
                padding-top: 75%;

                .image-inner-container {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;

                    cursor: pointer;
                    margin: 8px;
                    border: 2px dashed #eee;
                    border-radius: 8px;
                }

                img {
                    max-width: 100%;
                    max-height: 100%;
                }

                svg {
                    width: 70%;
                    height: 70%;
                    opacity: .6;

                    &:hover {
                        opacity: 1;
                    }
                }

                .fa {
                    position: absolute;
                    background-color: #fff;
                    padding: 3px 5px;
                    border-radius: 5px;
                    opacity: .8;
                }
            }
        }
    }

    @media (max-width: 575.98px) {
        .collection-item {
            width: 100%;
        }
    }
    @media (min-width: 576px) {
        .collection-item {
            width: calc(20% - 10px);
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    .modal {
        position: fixed;
    }
</style>
