<template>
    <div class="card image-component">
        <div class="card-img-top image-container" @click="toggleModal">
            <div class="image-inner-container d-flex justify-content-center align-items-center">
                <img v-if="path" :src="path">

                <svg v-else viewBox="0 0 24 24">
                    <path fill="#aaa" d="M5,3A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H14.09C14.03,20.67 14,20.34 14,20C14,19.32 14.12,18.64 14.35,18H5L8.5,13.5L11,16.5L14.5,12L16.73,14.97C17.7,14.34 18.84,14 20,14C20.34,14 20.67,14.03 21,14.09V5C21,3.89 20.1,3 19,3H5M19,16V19H16V21H19V24H21V21H24V19H21V16H19Z" />
                </svg>
            </div>

        </div>

        <div class="card-footer p-2">
            <div class="d-flex mb-2">
                <div v-text="title"></div>
                <div class="ml-auto" title="建議尺寸">
                    <small>
                        <i class="fa fa-arrows" aria-hidden="true"></i>
                        <span v-text="width"></span>
                        <span>x</span>
                        <span v-text="height"></span>
                    </small>
                </div>
            </div>

            <div class="d-flex">
                <input type="text" v-model="path" :name="name" class="form-control form-control-sm" />

                <button @click="remove()" type="button" class="btn btn-sm btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ImageComponent',

        props: {
            title: {    // display in label
                type: String,
                required: true,
            },
            name: { // input name
                type: String,
                required: true,
            },
            old: {
                type: String,
                default: null,
            },
            width: {
                type: String,
            },
            height: {
                type: String,
            },
        },

        data () {
            return {
                path: this.old === '' ? null : this.old,
            };
        },

        mounted() {
            EventHub.listen('MediaManager::file_selected', ({path, uid}) => {
                if (this._uid === uid) {
                    this.path = path;
                }
            });
        },

        beforeDestroy() {
            EventHub.removeListenersFrom('MediaManager::file_selected');
        },

        methods: {
            remove () {
                this.path = '';
            },
            toggleModal() {
                EventHub.fire('custom-modal-show', {
                    uid: this._uid,
                    path: this.path,
                    width: this.width,
                    height: this.height,
                })
            },
        }
    }
</script>

<style scoped lang="scss">
    .image-component {
        width: 220px;
        margin-right: 10px;

        // for using .card-deck, .card-group not stretch
        flex-grow: 0;
        flex-basis: auto;

        .card-body {
            text-align: center;
        }

        .image-container {
            position: relative;
            width: 100%;
            padding-top: 75%;

            .image-inner-container {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;

                cursor: pointer;
                margin: 8px;
                border: 2px dashed #eee;
                border-radius: 8px;
            }

            img {
                max-width: 100%;
                max-height: 100%;
            }

            svg {
                width: 70%;
                height: 70%;
                opacity: .6;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
</style>