body{
  overflow-y:hidden;
}
.large-header {
  width: 100%;
  background: #181818;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  background-image: url('../images/system-bg.jpg');
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1152px 726px #FFF , 1095px 604px #FFF , 989px 334px #FFF , 1252px 1009px #FFF , 432px 8px #FFF , 465px 248px #FFF , 1652px 573px #FFF , 1476px 1679px #FFF , 1370px 441px #FFF , 1662px 331px #FFF , 565px 1626px #FFF , 1684px 727px #FFF , 77px 533px #FFF , 347px 1971px #FFF , 1548px 951px #FFF , 168px 1712px #FFF , 1702px 473px #FFF , 1481px 230px #FFF , 34px 1921px #FFF , 732px 1926px #FFF , 376px 1245px #FFF , 1786px 788px #FFF , 785px 1370px #FFF , 967px 421px #FFF , 621px 89px #FFF , 1104px 1038px #FFF , 945px 565px #FFF , 325px 1698px #FFF , 122px 1584px #FFF , 1212px 807px #FFF , 530px 1846px #FFF , 1697px 1550px #FFF , 1467px 1990px #FFF , 469px 1615px #FFF , 735px 1878px #FFF , 1615px 1137px #FFF , 1901px 755px #FFF , 1951px 1632px #FFF , 736px 16px #FFF , 337px 1996px #FFF , 1864px 253px #FFF , 1006px 1172px #FFF , 1623px 1813px #FFF , 236px 1419px #FFF , 487px 202px #FFF , 654px 775px #FFF , 1696px 492px #FFF , 825px 1366px #FFF , 378px 864px #FFF , 1696px 1284px #FFF , 1769px 1952px #FFF , 1366px 1879px #FFF , 259px 1288px #FFF , 681px 1329px #FFF , 1983px 430px #FFF , 1393px 1786px #FFF , 1875px 92px #FFF , 898px 501px #FFF , 1718px 212px #FFF , 1433px 645px #FFF , 1597px 1178px #FFF , 526px 1366px #FFF , 500px 957px #FFF , 822px 718px #FFF , 556px 1896px #FFF , 684px 1590px #FFF , 1093px 215px #FFF , 278px 1952px #FFF , 157px 235px #FFF , 1683px 223px #FFF , 1899px 1125px #FFF , 1721px 764px #FFF , 222px 984px #FFF , 1630px 791px #FFF , 171px 412px #FFF , 140px 263px #FFF , 1069px 1691px #FFF , 1102px 1593px #FFF , 320px 1636px #FFF , 1863px 1273px #FFF , 268px 1816px #FFF , 1200px 806px #FFF , 1046px 1289px #FFF , 231px 1405px #FFF , 1995px 1858px #FFF , 720px 650px #FFF , 1084px 1235px #FFF , 1598px 598px #FFF , 1939px 1794px #FFF , 73px 172px #FFF , 750px 238px #FFF , 1569px 1399px #FFF , 324px 66px #FFF , 1204px 1315px #FFF , 298px 109px #FFF , 438px 143px #FFF , 912px 1111px #FFF , 388px 1033px #FFF , 287px 1074px #FFF , 3px 1804px #FFF , 948px 1514px #FFF , 1622px 892px #FFF , 1352px 590px #FFF , 1287px 1244px #FFF , 129px 1590px #FFF , 1752px 1272px #FFF , 214px 1150px #FFF , 1620px 524px #FFF , 1822px 498px #FFF , 1449px 163px #FFF , 382px 748px #FFF , 1227px 1162px #FFF , 1785px 1399px #FFF , 164px 1460px #FFF , 1470px 1910px #FFF , 1634px 682px #FFF , 1622px 194px #FFF , 1723px 1493px #FFF , 172px 1952px #FFF , 530px 984px #FFF , 25px 1311px #FFF , 1078px 1417px #FFF , 1471px 1911px #FFF , 191px 886px #FFF , 381px 1330px #FFF , 395px 1791px #FFF , 1849px 1593px #FFF , 1191px 10px #FFF , 1495px 1229px #FFF , 320px 559px #FFF , 300px 1188px #FFF , 332px 1398px #FFF , 305px 293px #FFF , 453px 1685px #FFF , 1736px 1648px #FFF , 1801px 1003px #FFF , 754px 1853px #FFF , 457px 854px #FFF , 1836px 54px #FFF , 1941px 195px #FFF , 1466px 624px #FFF , 1806px 500px #FFF , 1858px 852px #FFF , 1565px 1538px #FFF , 176px 112px #FFF , 741px 1530px #FFF , 216px 1381px #FFF , 1011px 1937px #FFF , 721px 1000px #FFF , 1162px 150px #FFF , 510px 262px #FFF , 1112px 20px #FFF , 1094px 1783px #FFF , 1711px 1469px #FFF , 437px 229px #FFF , 119px 1451px #FFF , 1334px 1178px #FFF , 1515px 1279px #FFF , 355px 1896px #FFF , 915px 1766px #FFF , 141px 383px #FFF , 850px 1906px #FFF , 259px 1237px #FFF , 1242px 1429px #FFF , 748px 519px #FFF , 1280px 1360px #FFF , 1669px 1861px #FFF , 489px 1752px #FFF , 641px 166px #FFF , 1120px 1386px #FFF , 1410px 1182px #FFF , 1383px 1269px #FFF , 1207px 132px #FFF , 1947px 1612px #FFF , 1900px 764px #FFF , 1608px 112px #FFF , 1572px 203px #FFF , 1675px 1384px #FFF , 1191px 1103px #FFF , 478px 600px #FFF , 1020px 1090px #FFF , 8px 1919px #FFF , 193px 1113px #FFF , 593px 1900px #FFF , 1957px 1340px #FFF , 718px 442px #FFF , 1466px 710px #FFF , 348px 1873px #FFF , 1560px 783px #FFF , 94px 1029px #FFF , 189px 1609px #FFF , 1374px 987px #FFF , 210px 1592px #FFF , 227px 297px #FFF , 1719px 1843px #FFF , 404px 1214px #FFF , 1264px 605px #FFF , 1388px 664px #FFF , 1132px 573px #FFF , 1928px 254px #FFF , 1733px 1026px #FFF , 830px 619px #FFF , 766px 609px #FFF , 253px 1844px #FFF , 1678px 1085px #FFF , 927px 1422px #FFF , 179px 1447px #FFF , 680px 839px #FFF , 1947px 1650px #FFF , 1258px 1087px #FFF , 840px 986px #FFF , 1748px 28px #FFF , 1771px 1167px #FFF , 136px 1228px #FFF , 1416px 749px #FFF , 551px 272px #FFF , 1846px 311px #FFF , 247px 1812px #FFF , 870px 1549px #FFF , 471px 1308px #FFF , 402px 1243px #FFF , 1091px 1915px #FFF , 1666px 1383px #FFF , 1083px 664px #FFF , 1990px 554px #FFF , 1499px 1035px #FFF , 1601px 1346px #FFF , 1194px 1961px #FFF , 1245px 963px #FFF , 1182px 933px #FFF , 1666px 178px #FFF , 1674px 1743px #FFF , 349px 1184px #FFF , 677px 687px #FFF , 412px 1792px #FFF , 748px 1373px #FFF , 735px 1674px #FFF , 801px 1017px #FFF , 1639px 1524px #FFF , 1123px 1319px #FFF , 919px 1883px #FFF , 962px 983px #FFF , 1946px 222px #FFF , 1640px 73px #FFF , 1333px 123px #FFF , 787px 975px #FFF , 1634px 1955px #FFF , 1988px 1120px #FFF , 1632px 384px #FFF , 1757px 958px #FFF , 447px 1679px #FFF , 236px 735px #FFF , 1249px 1563px #FFF , 793px 1712px #FFF , 1710px 1779px #FFF , 1994px 336px #FFF , 623px 933px #FFF , 987px 1401px #FFF , 1124px 1574px #FFF , 1346px 596px #FFF , 734px 801px #FFF , 991px 771px #FFF , 887px 1449px #FFF , 1537px 1567px #FFF , 1935px 128px #FFF , 1258px 641px #FFF , 514px 508px #FFF , 921px 1228px #FFF , 1894px 135px #FFF , 751px 1367px #FFF , 373px 146px #FFF , 570px 1292px #FFF , 1825px 677px #FFF , 1735px 1130px #FFF , 585px 91px #FFF , 175px 1475px #FFF , 592px 413px #FFF , 1967px 1635px #FFF , 598px 1275px #FFF , 1098px 1557px #FFF , 718px 198px #FFF , 1383px 1135px #FFF , 42px 16px #FFF , 1478px 585px #FFF , 644px 1299px #FFF , 680px 652px #FFF , 199px 401px #FFF , 914px 1163px #FFF , 345px 37px #FFF , 1554px 624px #FFF , 412px 131px #FFF , 750px 1462px #FFF , 1040px 1343px #FFF , 107px 912px #FFF , 1362px 207px #FFF , 1342px 505px #FFF , 1752px 689px #FFF , 1454px 1206px #FFF , 1098px 591px #FFF , 1237px 1448px #FFF , 1864px 352px #FFF , 795px 1374px #FFF , 81px 1470px #FFF , 1960px 1667px #FFF , 1440px 1118px #FFF , 1879px 1576px #FFF , 1270px 48px #FFF , 1754px 1050px #FFF , 1018px 862px #FFF , 1190px 885px #FFF , 255px 710px #FFF , 1302px 1553px #FFF , 63px 336px #FFF , 703px 1151px #FFF , 94px 1929px #FFF , 218px 627px #FFF , 1579px 435px #FFF , 20px 795px #FFF , 1074px 1622px #FFF , 1882px 1141px #FFF , 1950px 443px #FFF , 935px 429px #FFF , 819px 1023px #FFF , 991px 891px #FFF , 455px 903px #FFF , 1560px 1192px #FFF , 1607px 1868px #FFF , 28px 601px #FFF , 345px 358px #FFF , 1522px 587px #FFF , 773px 1499px #FFF , 1697px 519px #FFF , 1842px 1474px #FFF , 1462px 91px #FFF , 1862px 1867px #FFF , 1322px 1580px #FFF , 927px 288px #FFF , 317px 644px #FFF , 1666px 1909px #FFF , 1738px 1732px #FFF , 247px 1021px #FFF , 1366px 97px #FFF , 1636px 879px #FFF , 357px 544px #FFF , 1142px 1036px #FFF , 891px 20px #FFF , 625px 571px #FFF , 174px 817px #FFF , 880px 1154px #FFF , 1467px 769px #FFF , 1945px 292px #FFF , 361px 753px #FFF , 213px 1877px #FFF , 717px 250px #FFF , 1953px 1092px #FFF , 1329px 1941px #FFF , 405px 1459px #FFF , 1849px 9px #FFF , 333px 1655px #FFF , 1076px 1884px #FFF , 1061px 1407px #FFF , 100px 62px #FFF , 709px 939px #FFF , 1563px 1007px #FFF , 1039px 1378px #FFF , 1522px 648px #FFF , 679px 428px #FFF , 1895px 1205px #FFF , 296px 1499px #FFF , 888px 1239px #FFF , 1028px 1355px #FFF , 1864px 960px #FFF , 1133px 953px #FFF , 141px 73px #FFF , 467px 270px #FFF , 1388px 1592px #FFF , 1204px 1456px #FFF , 1604px 1890px #FFF , 1204px 119px #FFF , 911px 451px #FFF , 1460px 527px #FFF , 1633px 1812px #FFF , 162px 975px #FFF , 959px 196px #FFF , 1457px 1061px #FFF , 35px 460px #FFF , 610px 301px #FFF , 729px 1604px #FFF , 1950px 528px #FFF , 57px 883px #FFF , 731px 1833px #FFF , 1073px 1109px #FFF , 115px 225px #FFF , 1671px 1033px #FFF , 1378px 145px #FFF , 492px 392px #FFF , 1591px 521px #FFF , 1942px 1245px #FFF , 1683px 1469px #FFF , 627px 311px #FFF , 528px 1761px #FFF , 448px 259px #FFF , 210px 170px #FFF , 1500px 289px #FFF , 125px 1073px #FFF , 310px 314px #FFF , 1199px 1120px #FFF , 473px 1688px #FFF , 785px 1833px #FFF , 82px 946px #FFF , 1810px 561px #FFF , 1974px 889px #FFF , 936px 1703px #FFF , 1846px 526px #FFF , 866px 318px #FFF , 10px 170px #FFF , 1555px 1518px #FFF , 385px 701px #FFF , 189px 760px #FFF , 625px 563px #FFF , 325px 1418px #FFF , 104px 531px #FFF , 1193px 295px #FFF , 1533px 1446px #FFF , 132px 461px #FFF , 1039px 1580px #FFF , 879px 1612px #FFF , 1711px 149px #FFF , 164px 724px #FFF , 1727px 514px #FFF , 939px 750px #FFF , 1710px 1104px #FFF , 149px 174px #FFF , 1150px 1201px #FFF , 871px 801px #FFF , 820px 1704px #FFF , 225px 1301px #FFF , 1199px 121px #FFF , 1226px 84px #FFF , 1003px 1844px #FFF , 1756px 777px #FFF , 120px 1776px #FFF , 984px 1963px #FFF , 900px 1339px #FFF , 877px 1982px #FFF , 533px 941px #FFF , 754px 359px #FFF , 983px 1857px #FFF , 223px 1210px #FFF , 873px 1620px #FFF , 682px 1279px #FFF , 1038px 160px #FFF , 1110px 1293px #FFF , 1458px 867px #FFF , 232px 1453px #FFF , 895px 1762px #FFF , 549px 652px #FFF , 1098px 1577px #FFF , 701px 395px #FFF , 1101px 928px #FFF , 739px 483px #FFF , 450px 20px #FFF , 145px 1233px #FFF , 1339px 1337px #FFF , 467px 1444px #FFF , 1812px 1651px #FFF , 85px 1658px #FFF , 1005px 759px #FFF , 1434px 712px #FFF , 468px 711px #FFF , 789px 1969px #FFF , 1160px 702px #FFF , 832px 2px #FFF , 1915px 1290px #FFF , 239px 1996px #FFF , 641px 1256px #FFF , 1131px 432px #FFF , 1106px 922px #FFF , 1472px 549px #FFF , 627px 1911px #FFF , 44px 1536px #FFF , 1918px 1578px #FFF , 310px 1582px #FFF , 226px 957px #FFF , 1564px 977px #FFF , 1455px 1831px #FFF , 124px 653px #FFF , 549px 1186px #FFF , 40px 308px #FFF , 825px 878px #FFF , 1993px 1515px #FFF , 400px 1344px #FFF , 1978px 976px #FFF , 1222px 368px #FFF , 1552px 961px #FFF , 1825px 849px #FFF , 969px 225px #FFF , 1282px 1960px #FFF , 263px 318px #FFF , 336px 1435px #FFF , 70px 959px #FFF , 177px 423px #FFF , 752px 324px #FFF , 480px 950px #FFF , 1177px 679px #FFF , 1806px 1466px #FFF , 143px 732px #FFF , 1723px 1627px #FFF , 279px 1859px #FFF , 363px 1491px #FFF , 1204px 481px #FFF , 1236px 625px #FFF , 1588px 981px #FFF , 1834px 1489px #FFF , 1107px 1516px #FFF , 1px 800px #FFF , 1936px 1327px #FFF , 542px 1723px #FFF , 1038px 819px #FFF , 122px 997px #FFF , 1947px 1628px #FFF , 1971px 1515px #FFF , 1627px 854px #FFF , 1270px 1895px #FFF , 151px 201px #FFF , 1862px 1753px #FFF , 1356px 1336px #FFF , 1335px 634px #FFF , 1140px 816px #FFF , 1249px 1437px #FFF , 1052px 12px #FFF , 43px 484px #FFF , 68px 753px #FFF , 681px 1204px #FFF , 1269px 1992px #FFF , 656px 385px #FFF , 278px 1845px #FFF , 933px 1279px #FFF , 1369px 1614px #FFF , 190px 705px #FFF , 230px 1851px #FFF , 434px 1716px #FFF , 994px 36px #FFF , 674px 383px #FFF , 1015px 1223px #FFF , 635px 158px #FFF , 1024px 907px #FFF , 1168px 495px #FFF , 1457px 724px #FFF , 1758px 1989px #FFF , 1590px 62px #FFF , 1439px 316px #FFF , 1069px 1181px #FFF , 1643px 892px #FFF , 130px 1134px #FFF , 1991px 1731px #FFF , 1080px 244px #FFF , 1774px 1687px #FFF , 1684px 911px #FFF , 697px 205px #FFF , 280px 1841px #FFF , 929px 230px #FFF , 437px 698px #FFF , 323px 1148px #FFF , 1882px 1480px #FFF , 1598px 311px #FFF , 519px 1362px #FFF , 657px 497px #FFF , 914px 1518px #FFF , 184px 1945px #FFF , 1579px 1633px #FFF , 965px 1533px #FFF , 1626px 211px #FFF , 1951px 1687px #FFF , 1233px 1626px #FFF , 487px 279px #FFF , 750px 1026px #FFF , 174px 834px #FFF , 19px 1937px #FFF , 1732px 314px #FFF , 955px 1049px #FFF , 441px 375px #FFF , 1503px 419px #FFF , 1823px 575px #FFF , 1641px 323px #FFF , 728px 103px #FFF , 1936px 264px #FFF , 1275px 558px #FFF , 422px 713px #FFF , 1962px 1823px #FFF , 855px 1880px #FFF , 1197px 1828px #FFF , 1474px 1343px #FFF , 538px 1880px #FFF , 1531px 248px #FFF , 1012px 1495px #FFF , 22px 1845px #FFF , 87px 533px #FFF , 424px 487px #FFF , 862px 1468px #FFF , 1525px 1416px #FFF , 373px 1244px #FFF , 605px 262px #FFF , 1249px 194px #FFF , 339px 929px #FFF , 1359px 5px #FFF , 1033px 453px #FFF , 1965px 195px #FFF , 190px 1516px #FFF , 1321px 937px #FFF , 1249px 943px #FFF , 666px 787px #FFF , 1714px 894px #FFF , 1165px 1318px #FFF , 1551px 102px #FFF , 1724px 304px #FFF , 1022px 1612px #FFF , 530px 1006px #FFF , 1809px 232px #FFF , 1704px 450px #FFF , 471px 196px #FFF , 199px 1669px #FFF , 408px 919px #FFF , 1790px 494px #FFF , 874px 1474px #FFF , 855px 539px #FFF , 3px 53px #FFF , 1965px 1440px #FFF , 1737px 725px #FFF , 547px 1918px #FFF , 1307px 763px #FFF , 1309px 1833px #FFF , 1014px 1251px #FFF , 1367px 796px #FFF , 466px 508px #FFF , 1891px 1692px #FFF , 545px 180px #FFF , 545px 1276px #FFF , 906px 865px #FFF , 1428px 1355px #FFF , 284px 300px #FFF , 1894px 1825px #FFF , 18px 188px #FFF , 683px 116px #FFF , 928px 1753px #FFF , 1940px 67px #FFF , 467px 214px #FFF , 1127px 1839px #FFF , 1980px 1424px #FFF , 105px 1126px #FFF , 1149px 1716px #FFF , 931px 1062px #FFF , 1562px 1214px #FFF , 294px 1155px #FFF , 936px 1685px #FFF , 625px 82px #FFF , 1931px 1339px #FFF , 1991px 903px #FFF , 1904px 707px #FFF , 193px 232px #FFF , 401px 761px #FFF , 1817px 1719px #FFF , 1714px 619px #FFF , 1901px 195px #FFF , 539px 1727px #FFF , 547px 248px #FFF , 993px 545px #FFF , 1242px 978px #FFF , 397px 1236px #FFF , 1301px 499px #FFF , 97px 746px #FFF , 1630px 1757px #FFF , 105px 1486px #FFF , 68px 718px #FFF , 1266px 1388px #FFF , 478px 1927px #FFF , 1766px 95px #FFF , 1435px 953px #FFF , 1410px 1838px #FFF , 1101px 1076px #FFF , 1003px 1243px #FFF , 1680px 573px #FFF , 1829px 543px #FFF , 583px 428px #FFF , 1274px 1541px #FFF , 1716px 674px #FFF , 1598px 701px #FFF , 1964px 1812px #FFF , 463px 961px #FFF , 1308px 1573px #FFF , 690px 1252px #FFF , 1338px 314px #FFF , 488px 306px #FFF , 1245px 1077px #FFF , 1075px 775px #FFF , 717px 437px #FFF , 1041px 1340px #FFF , 372px 1137px #FFF , 867px 1202px #FFF , 959px 1708px #FFF;
  animation: animStar 50s linear infinite;
  margin-top:-2000px;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1152px 726px #FFF , 1095px 604px #FFF , 989px 334px #FFF , 1252px 1009px #FFF , 432px 8px #FFF , 465px 248px #FFF , 1652px 573px #FFF , 1476px 1679px #FFF , 1370px 441px #FFF , 1662px 331px #FFF , 565px 1626px #FFF , 1684px 727px #FFF , 77px 533px #FFF , 347px 1971px #FFF , 1548px 951px #FFF , 168px 1712px #FFF , 1702px 473px #FFF , 1481px 230px #FFF , 34px 1921px #FFF , 732px 1926px #FFF , 376px 1245px #FFF , 1786px 788px #FFF , 785px 1370px #FFF , 967px 421px #FFF , 621px 89px #FFF , 1104px 1038px #FFF , 945px 565px #FFF , 325px 1698px #FFF , 122px 1584px #FFF , 1212px 807px #FFF , 530px 1846px #FFF , 1697px 1550px #FFF , 1467px 1990px #FFF , 469px 1615px #FFF , 735px 1878px #FFF , 1615px 1137px #FFF , 1901px 755px #FFF , 1951px 1632px #FFF , 736px 16px #FFF , 337px 1996px #FFF , 1864px 253px #FFF , 1006px 1172px #FFF , 1623px 1813px #FFF , 236px 1419px #FFF , 487px 202px #FFF , 654px 775px #FFF , 1696px 492px #FFF , 825px 1366px #FFF , 378px 864px #FFF , 1696px 1284px #FFF , 1769px 1952px #FFF , 1366px 1879px #FFF , 259px 1288px #FFF , 681px 1329px #FFF , 1983px 430px #FFF , 1393px 1786px #FFF , 1875px 92px #FFF , 898px 501px #FFF , 1718px 212px #FFF , 1433px 645px #FFF , 1597px 1178px #FFF , 526px 1366px #FFF , 500px 957px #FFF , 822px 718px #FFF , 556px 1896px #FFF , 684px 1590px #FFF , 1093px 215px #FFF , 278px 1952px #FFF , 157px 235px #FFF , 1683px 223px #FFF , 1899px 1125px #FFF , 1721px 764px #FFF , 222px 984px #FFF , 1630px 791px #FFF , 171px 412px #FFF , 140px 263px #FFF , 1069px 1691px #FFF , 1102px 1593px #FFF , 320px 1636px #FFF , 1863px 1273px #FFF , 268px 1816px #FFF , 1200px 806px #FFF , 1046px 1289px #FFF , 231px 1405px #FFF , 1995px 1858px #FFF , 720px 650px #FFF , 1084px 1235px #FFF , 1598px 598px #FFF , 1939px 1794px #FFF , 73px 172px #FFF , 750px 238px #FFF , 1569px 1399px #FFF , 324px 66px #FFF , 1204px 1315px #FFF , 298px 109px #FFF , 438px 143px #FFF , 912px 1111px #FFF , 388px 1033px #FFF , 287px 1074px #FFF , 3px 1804px #FFF , 948px 1514px #FFF , 1622px 892px #FFF , 1352px 590px #FFF , 1287px 1244px #FFF , 129px 1590px #FFF , 1752px 1272px #FFF , 214px 1150px #FFF , 1620px 524px #FFF , 1822px 498px #FFF , 1449px 163px #FFF , 382px 748px #FFF , 1227px 1162px #FFF , 1785px 1399px #FFF , 164px 1460px #FFF , 1470px 1910px #FFF , 1634px 682px #FFF , 1622px 194px #FFF , 1723px 1493px #FFF , 172px 1952px #FFF , 530px 984px #FFF , 25px 1311px #FFF , 1078px 1417px #FFF , 1471px 1911px #FFF , 191px 886px #FFF , 381px 1330px #FFF , 395px 1791px #FFF , 1849px 1593px #FFF , 1191px 10px #FFF , 1495px 1229px #FFF , 320px 559px #FFF , 300px 1188px #FFF , 332px 1398px #FFF , 305px 293px #FFF , 453px 1685px #FFF , 1736px 1648px #FFF , 1801px 1003px #FFF , 754px 1853px #FFF , 457px 854px #FFF , 1836px 54px #FFF , 1941px 195px #FFF , 1466px 624px #FFF , 1806px 500px #FFF , 1858px 852px #FFF , 1565px 1538px #FFF , 176px 112px #FFF , 741px 1530px #FFF , 216px 1381px #FFF , 1011px 1937px #FFF , 721px 1000px #FFF , 1162px 150px #FFF , 510px 262px #FFF , 1112px 20px #FFF , 1094px 1783px #FFF , 1711px 1469px #FFF , 437px 229px #FFF , 119px 1451px #FFF , 1334px 1178px #FFF , 1515px 1279px #FFF , 355px 1896px #FFF , 915px 1766px #FFF , 141px 383px #FFF , 850px 1906px #FFF , 259px 1237px #FFF , 1242px 1429px #FFF , 748px 519px #FFF , 1280px 1360px #FFF , 1669px 1861px #FFF , 489px 1752px #FFF , 641px 166px #FFF , 1120px 1386px #FFF , 1410px 1182px #FFF , 1383px 1269px #FFF , 1207px 132px #FFF , 1947px 1612px #FFF , 1900px 764px #FFF , 1608px 112px #FFF , 1572px 203px #FFF , 1675px 1384px #FFF , 1191px 1103px #FFF , 478px 600px #FFF , 1020px 1090px #FFF , 8px 1919px #FFF , 193px 1113px #FFF , 593px 1900px #FFF , 1957px 1340px #FFF , 718px 442px #FFF , 1466px 710px #FFF , 348px 1873px #FFF , 1560px 783px #FFF , 94px 1029px #FFF , 189px 1609px #FFF , 1374px 987px #FFF , 210px 1592px #FFF , 227px 297px #FFF , 1719px 1843px #FFF , 404px 1214px #FFF , 1264px 605px #FFF , 1388px 664px #FFF , 1132px 573px #FFF , 1928px 254px #FFF , 1733px 1026px #FFF , 830px 619px #FFF , 766px 609px #FFF , 253px 1844px #FFF , 1678px 1085px #FFF , 927px 1422px #FFF , 179px 1447px #FFF , 680px 839px #FFF , 1947px 1650px #FFF , 1258px 1087px #FFF , 840px 986px #FFF , 1748px 28px #FFF , 1771px 1167px #FFF , 136px 1228px #FFF , 1416px 749px #FFF , 551px 272px #FFF , 1846px 311px #FFF , 247px 1812px #FFF , 870px 1549px #FFF , 471px 1308px #FFF , 402px 1243px #FFF , 1091px 1915px #FFF , 1666px 1383px #FFF , 1083px 664px #FFF , 1990px 554px #FFF , 1499px 1035px #FFF , 1601px 1346px #FFF , 1194px 1961px #FFF , 1245px 963px #FFF , 1182px 933px #FFF , 1666px 178px #FFF , 1674px 1743px #FFF , 349px 1184px #FFF , 677px 687px #FFF , 412px 1792px #FFF , 748px 1373px #FFF , 735px 1674px #FFF , 801px 1017px #FFF , 1639px 1524px #FFF , 1123px 1319px #FFF , 919px 1883px #FFF , 962px 983px #FFF , 1946px 222px #FFF , 1640px 73px #FFF , 1333px 123px #FFF , 787px 975px #FFF , 1634px 1955px #FFF , 1988px 1120px #FFF , 1632px 384px #FFF , 1757px 958px #FFF , 447px 1679px #FFF , 236px 735px #FFF , 1249px 1563px #FFF , 793px 1712px #FFF , 1710px 1779px #FFF , 1994px 336px #FFF , 623px 933px #FFF , 987px 1401px #FFF , 1124px 1574px #FFF , 1346px 596px #FFF , 734px 801px #FFF , 991px 771px #FFF , 887px 1449px #FFF , 1537px 1567px #FFF , 1935px 128px #FFF , 1258px 641px #FFF , 514px 508px #FFF , 921px 1228px #FFF , 1894px 135px #FFF , 751px 1367px #FFF , 373px 146px #FFF , 570px 1292px #FFF , 1825px 677px #FFF , 1735px 1130px #FFF , 585px 91px #FFF , 175px 1475px #FFF , 592px 413px #FFF , 1967px 1635px #FFF , 598px 1275px #FFF , 1098px 1557px #FFF , 718px 198px #FFF , 1383px 1135px #FFF , 42px 16px #FFF , 1478px 585px #FFF , 644px 1299px #FFF , 680px 652px #FFF , 199px 401px #FFF , 914px 1163px #FFF , 345px 37px #FFF , 1554px 624px #FFF , 412px 131px #FFF , 750px 1462px #FFF , 1040px 1343px #FFF , 107px 912px #FFF , 1362px 207px #FFF , 1342px 505px #FFF , 1752px 689px #FFF , 1454px 1206px #FFF , 1098px 591px #FFF , 1237px 1448px #FFF , 1864px 352px #FFF , 795px 1374px #FFF , 81px 1470px #FFF , 1960px 1667px #FFF , 1440px 1118px #FFF , 1879px 1576px #FFF , 1270px 48px #FFF , 1754px 1050px #FFF , 1018px 862px #FFF , 1190px 885px #FFF , 255px 710px #FFF , 1302px 1553px #FFF , 63px 336px #FFF , 703px 1151px #FFF , 94px 1929px #FFF , 218px 627px #FFF , 1579px 435px #FFF , 20px 795px #FFF , 1074px 1622px #FFF , 1882px 1141px #FFF , 1950px 443px #FFF , 935px 429px #FFF , 819px 1023px #FFF , 991px 891px #FFF , 455px 903px #FFF , 1560px 1192px #FFF , 1607px 1868px #FFF , 28px 601px #FFF , 345px 358px #FFF , 1522px 587px #FFF , 773px 1499px #FFF , 1697px 519px #FFF , 1842px 1474px #FFF , 1462px 91px #FFF , 1862px 1867px #FFF , 1322px 1580px #FFF , 927px 288px #FFF , 317px 644px #FFF , 1666px 1909px #FFF , 1738px 1732px #FFF , 247px 1021px #FFF , 1366px 97px #FFF , 1636px 879px #FFF , 357px 544px #FFF , 1142px 1036px #FFF , 891px 20px #FFF , 625px 571px #FFF , 174px 817px #FFF , 880px 1154px #FFF , 1467px 769px #FFF , 1945px 292px #FFF , 361px 753px #FFF , 213px 1877px #FFF , 717px 250px #FFF , 1953px 1092px #FFF , 1329px 1941px #FFF , 405px 1459px #FFF , 1849px 9px #FFF , 333px 1655px #FFF , 1076px 1884px #FFF , 1061px 1407px #FFF , 100px 62px #FFF , 709px 939px #FFF , 1563px 1007px #FFF , 1039px 1378px #FFF , 1522px 648px #FFF , 679px 428px #FFF , 1895px 1205px #FFF , 296px 1499px #FFF , 888px 1239px #FFF , 1028px 1355px #FFF , 1864px 960px #FFF , 1133px 953px #FFF , 141px 73px #FFF , 467px 270px #FFF , 1388px 1592px #FFF , 1204px 1456px #FFF , 1604px 1890px #FFF , 1204px 119px #FFF , 911px 451px #FFF , 1460px 527px #FFF , 1633px 1812px #FFF , 162px 975px #FFF , 959px 196px #FFF , 1457px 1061px #FFF , 35px 460px #FFF , 610px 301px #FFF , 729px 1604px #FFF , 1950px 528px #FFF , 57px 883px #FFF , 731px 1833px #FFF , 1073px 1109px #FFF , 115px 225px #FFF , 1671px 1033px #FFF , 1378px 145px #FFF , 492px 392px #FFF , 1591px 521px #FFF , 1942px 1245px #FFF , 1683px 1469px #FFF , 627px 311px #FFF , 528px 1761px #FFF , 448px 259px #FFF , 210px 170px #FFF , 1500px 289px #FFF , 125px 1073px #FFF , 310px 314px #FFF , 1199px 1120px #FFF , 473px 1688px #FFF , 785px 1833px #FFF , 82px 946px #FFF , 1810px 561px #FFF , 1974px 889px #FFF , 936px 1703px #FFF , 1846px 526px #FFF , 866px 318px #FFF , 10px 170px #FFF , 1555px 1518px #FFF , 385px 701px #FFF , 189px 760px #FFF , 625px 563px #FFF , 325px 1418px #FFF , 104px 531px #FFF , 1193px 295px #FFF , 1533px 1446px #FFF , 132px 461px #FFF , 1039px 1580px #FFF , 879px 1612px #FFF , 1711px 149px #FFF , 164px 724px #FFF , 1727px 514px #FFF , 939px 750px #FFF , 1710px 1104px #FFF , 149px 174px #FFF , 1150px 1201px #FFF , 871px 801px #FFF , 820px 1704px #FFF , 225px 1301px #FFF , 1199px 121px #FFF , 1226px 84px #FFF , 1003px 1844px #FFF , 1756px 777px #FFF , 120px 1776px #FFF , 984px 1963px #FFF , 900px 1339px #FFF , 877px 1982px #FFF , 533px 941px #FFF , 754px 359px #FFF , 983px 1857px #FFF , 223px 1210px #FFF , 873px 1620px #FFF , 682px 1279px #FFF , 1038px 160px #FFF , 1110px 1293px #FFF , 1458px 867px #FFF , 232px 1453px #FFF , 895px 1762px #FFF , 549px 652px #FFF , 1098px 1577px #FFF , 701px 395px #FFF , 1101px 928px #FFF , 739px 483px #FFF , 450px 20px #FFF , 145px 1233px #FFF , 1339px 1337px #FFF , 467px 1444px #FFF , 1812px 1651px #FFF , 85px 1658px #FFF , 1005px 759px #FFF , 1434px 712px #FFF , 468px 711px #FFF , 789px 1969px #FFF , 1160px 702px #FFF , 832px 2px #FFF , 1915px 1290px #FFF , 239px 1996px #FFF , 641px 1256px #FFF , 1131px 432px #FFF , 1106px 922px #FFF , 1472px 549px #FFF , 627px 1911px #FFF , 44px 1536px #FFF , 1918px 1578px #FFF , 310px 1582px #FFF , 226px 957px #FFF , 1564px 977px #FFF , 1455px 1831px #FFF , 124px 653px #FFF , 549px 1186px #FFF , 40px 308px #FFF , 825px 878px #FFF , 1993px 1515px #FFF , 400px 1344px #FFF , 1978px 976px #FFF , 1222px 368px #FFF , 1552px 961px #FFF , 1825px 849px #FFF , 969px 225px #FFF , 1282px 1960px #FFF , 263px 318px #FFF , 336px 1435px #FFF , 70px 959px #FFF , 177px 423px #FFF , 752px 324px #FFF , 480px 950px #FFF , 1177px 679px #FFF , 1806px 1466px #FFF , 143px 732px #FFF , 1723px 1627px #FFF , 279px 1859px #FFF , 363px 1491px #FFF , 1204px 481px #FFF , 1236px 625px #FFF , 1588px 981px #FFF , 1834px 1489px #FFF , 1107px 1516px #FFF , 1px 800px #FFF , 1936px 1327px #FFF , 542px 1723px #FFF , 1038px 819px #FFF , 122px 997px #FFF , 1947px 1628px #FFF , 1971px 1515px #FFF , 1627px 854px #FFF , 1270px 1895px #FFF , 151px 201px #FFF , 1862px 1753px #FFF , 1356px 1336px #FFF , 1335px 634px #FFF , 1140px 816px #FFF , 1249px 1437px #FFF , 1052px 12px #FFF , 43px 484px #FFF , 68px 753px #FFF , 681px 1204px #FFF , 1269px 1992px #FFF , 656px 385px #FFF , 278px 1845px #FFF , 933px 1279px #FFF , 1369px 1614px #FFF , 190px 705px #FFF , 230px 1851px #FFF , 434px 1716px #FFF , 994px 36px #FFF , 674px 383px #FFF , 1015px 1223px #FFF , 635px 158px #FFF , 1024px 907px #FFF , 1168px 495px #FFF , 1457px 724px #FFF , 1758px 1989px #FFF , 1590px 62px #FFF , 1439px 316px #FFF , 1069px 1181px #FFF , 1643px 892px #FFF , 130px 1134px #FFF , 1991px 1731px #FFF , 1080px 244px #FFF , 1774px 1687px #FFF , 1684px 911px #FFF , 697px 205px #FFF , 280px 1841px #FFF , 929px 230px #FFF , 437px 698px #FFF , 323px 1148px #FFF , 1882px 1480px #FFF , 1598px 311px #FFF , 519px 1362px #FFF , 657px 497px #FFF , 914px 1518px #FFF , 184px 1945px #FFF , 1579px 1633px #FFF , 965px 1533px #FFF , 1626px 211px #FFF , 1951px 1687px #FFF , 1233px 1626px #FFF , 487px 279px #FFF , 750px 1026px #FFF , 174px 834px #FFF , 19px 1937px #FFF , 1732px 314px #FFF , 955px 1049px #FFF , 441px 375px #FFF , 1503px 419px #FFF , 1823px 575px #FFF , 1641px 323px #FFF , 728px 103px #FFF , 1936px 264px #FFF , 1275px 558px #FFF , 422px 713px #FFF , 1962px 1823px #FFF , 855px 1880px #FFF , 1197px 1828px #FFF , 1474px 1343px #FFF , 538px 1880px #FFF , 1531px 248px #FFF , 1012px 1495px #FFF , 22px 1845px #FFF , 87px 533px #FFF , 424px 487px #FFF , 862px 1468px #FFF , 1525px 1416px #FFF , 373px 1244px #FFF , 605px 262px #FFF , 1249px 194px #FFF , 339px 929px #FFF , 1359px 5px #FFF , 1033px 453px #FFF , 1965px 195px #FFF , 190px 1516px #FFF , 1321px 937px #FFF , 1249px 943px #FFF , 666px 787px #FFF , 1714px 894px #FFF , 1165px 1318px #FFF , 1551px 102px #FFF , 1724px 304px #FFF , 1022px 1612px #FFF , 530px 1006px #FFF , 1809px 232px #FFF , 1704px 450px #FFF , 471px 196px #FFF , 199px 1669px #FFF , 408px 919px #FFF , 1790px 494px #FFF , 874px 1474px #FFF , 855px 539px #FFF , 3px 53px #FFF , 1965px 1440px #FFF , 1737px 725px #FFF , 547px 1918px #FFF , 1307px 763px #FFF , 1309px 1833px #FFF , 1014px 1251px #FFF , 1367px 796px #FFF , 466px 508px #FFF , 1891px 1692px #FFF , 545px 180px #FFF , 545px 1276px #FFF , 906px 865px #FFF , 1428px 1355px #FFF , 284px 300px #FFF , 1894px 1825px #FFF , 18px 188px #FFF , 683px 116px #FFF , 928px 1753px #FFF , 1940px 67px #FFF , 467px 214px #FFF , 1127px 1839px #FFF , 1980px 1424px #FFF , 105px 1126px #FFF , 1149px 1716px #FFF , 931px 1062px #FFF , 1562px 1214px #FFF , 294px 1155px #FFF , 936px 1685px #FFF , 625px 82px #FFF , 1931px 1339px #FFF , 1991px 903px #FFF , 1904px 707px #FFF , 193px 232px #FFF , 401px 761px #FFF , 1817px 1719px #FFF , 1714px 619px #FFF , 1901px 195px #FFF , 539px 1727px #FFF , 547px 248px #FFF , 993px 545px #FFF , 1242px 978px #FFF , 397px 1236px #FFF , 1301px 499px #FFF , 97px 746px #FFF , 1630px 1757px #FFF , 105px 1486px #FFF , 68px 718px #FFF , 1266px 1388px #FFF , 478px 1927px #FFF , 1766px 95px #FFF , 1435px 953px #FFF , 1410px 1838px #FFF , 1101px 1076px #FFF , 1003px 1243px #FFF , 1680px 573px #FFF , 1829px 543px #FFF , 583px 428px #FFF , 1274px 1541px #FFF , 1716px 674px #FFF , 1598px 701px #FFF , 1964px 1812px #FFF , 463px 961px #FFF , 1308px 1573px #FFF , 690px 1252px #FFF , 1338px 314px #FFF , 488px 306px #FFF , 1245px 1077px #FFF , 1075px 775px #FFF , 717px 437px #FFF , 1041px 1340px #FFF , 372px 1137px #FFF , 867px 1202px #FFF , 959px 1708px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 773px 1269px #FFF , 1433px 831px #FFF , 1635px 344px #FFF , 1865px 183px #FFF , 1213px 1438px #FFF , 1627px 1138px #FFF , 1527px 1626px #FFF , 1449px 449px #FFF , 1209px 778px #FFF , 751px 361px #FFF , 1224px 1004px #FFF , 841px 1827px #FFF , 1382px 1522px #FFF , 1240px 1988px #FFF , 1806px 1686px #FFF , 1957px 152px #FFF , 793px 569px #FFF , 248px 559px #FFF , 174px 81px #FFF , 1915px 1576px #FFF , 440px 626px #FFF , 1104px 940px #FFF , 1336px 143px #FFF , 978px 767px #FFF , 1711px 1413px #FFF , 1358px 356px #FFF , 1732px 1717px #FFF , 1277px 1641px #FFF , 1271px 1726px #FFF , 945px 1362px #FFF , 1510px 1122px #FFF , 472px 1927px #FFF , 533px 1823px #FFF , 1262px 691px #FFF , 1445px 244px #FFF , 160px 831px #FFF , 394px 369px #FFF , 1828px 933px #FFF , 1732px 1673px #FFF , 1729px 734px #FFF , 1242px 1584px #FFF , 622px 1507px #FFF , 1214px 590px #FFF , 185px 76px #FFF , 1415px 1074px #FFF , 1720px 801px #FFF , 461px 1857px #FFF , 652px 300px #FFF , 699px 1517px #FFF , 1456px 519px #FFF , 909px 503px #FFF , 1722px 972px #FFF , 478px 470px #FFF , 894px 690px #FFF , 999px 1954px #FFF , 269px 1556px #FFF , 840px 164px #FFF , 1833px 1392px #FFF , 1349px 1582px #FFF , 1943px 1026px #FFF , 274px 674px #FFF , 1855px 650px #FFF , 563px 344px #FFF , 1144px 221px #FFF , 664px 1156px #FFF , 1355px 1923px #FFF , 303px 387px #FFF , 1995px 1697px #FFF , 1536px 945px #FFF , 179px 991px #FFF , 723px 1438px #FFF , 249px 1815px #FFF , 1480px 1700px #FFF , 517px 1375px #FFF , 1594px 1210px #FFF , 348px 919px #FFF , 904px 957px #FFF , 175px 1918px #FFF , 1629px 1384px #FFF , 68px 1730px #FFF , 1468px 208px #FFF , 1128px 335px #FFF , 1154px 1354px #FFF , 30px 1743px #FFF , 425px 1882px #FFF , 1868px 409px #FFF , 629px 1747px #FFF , 397px 1591px #FFF , 615px 490px #FFF , 1735px 973px #FFF , 1049px 1407px #FFF , 423px 484px #FFF , 1714px 1827px #FFF , 1830px 1794px #FFF , 230px 1940px #FFF , 969px 101px #FFF , 1874px 784px #FFF , 1723px 1240px #FFF , 1576px 466px #FFF , 1356px 375px #FFF , 1991px 1520px #FFF , 887px 543px #FFF , 588px 898px #FFF , 110px 160px #FFF , 880px 1092px #FFF , 1553px 618px #FFF , 1904px 864px #FFF , 668px 1382px #FFF , 151px 532px #FFF , 310px 953px #FFF , 177px 79px #FFF , 666px 80px #FFF , 1663px 1217px #FFF , 776px 507px #FFF , 308px 1928px #FFF , 94px 722px #FFF , 693px 1937px #FFF , 97px 851px #FFF , 402px 12px #FFF , 1656px 333px #FFF , 1109px 69px #FFF , 1364px 1714px #FFF , 396px 1869px #FFF , 1432px 702px #FFF , 1821px 1431px #FFF , 262px 101px #FFF , 1634px 380px #FFF , 550px 1422px #FFF , 1226px 244px #FFF , 1991px 1168px #FFF , 987px 1005px #FFF , 525px 1238px #FFF , 1359px 1861px #FFF , 201px 1472px #FFF , 490px 1329px #FFF , 794px 1522px #FFF , 1621px 229px #FFF , 1744px 319px #FFF , 95px 653px #FFF , 475px 1380px #FFF , 228px 505px #FFF , 362px 1427px #FFF , 1513px 1413px #FFF , 96px 428px #FFF , 421px 1263px #FFF , 1109px 140px #FFF , 1592px 1022px #FFF , 1710px 1015px #FFF , 527px 1285px #FFF , 978px 487px #FFF , 1403px 389px #FFF , 975px 831px #FFF , 512px 449px #FFF , 1975px 1851px #FFF , 659px 1626px #FFF , 1412px 888px #FFF , 927px 938px #FFF , 243px 1852px #FFF , 536px 1258px #FFF , 63px 1954px #FFF , 134px 1839px #FFF , 567px 239px #FFF , 1700px 730px #FFF , 648px 1904px #FFF , 1015px 1044px #FFF , 1331px 80px #FFF , 1731px 71px #FFF , 37px 1631px #FFF , 1801px 216px #FFF , 236px 671px #FFF , 394px 824px #FFF , 12px 733px #FFF , 793px 1731px #FFF , 1023px 1712px #FFF , 1174px 608px #FFF , 1473px 605px #FFF , 446px 1620px #FFF , 744px 1173px #FFF , 1887px 585px #FFF , 1013px 1754px #FFF , 27px 513px #FFF , 206px 366px #FFF , 459px 1301px #FFF , 1221px 1757px #FFF , 190px 492px #FFF , 1784px 1281px #FFF , 1333px 370px #FFF , 1709px 1168px #FFF , 902px 513px #FFF , 588px 1353px #FFF , 359px 100px #FFF , 1761px 689px #FFF , 755px 45px #FFF , 1623px 1169px #FFF , 797px 334px #FFF , 1239px 200px #FFF , 69px 921px #FFF , 1812px 1053px #FFF , 1518px 633px #FFF , 671px 1949px #FFF;
  animation: animStar 100s linear infinite;
  margin-top:-2000px;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 773px 1269px #FFF , 1433px 831px #FFF , 1635px 344px #FFF , 1865px 183px #FFF , 1213px 1438px #FFF , 1627px 1138px #FFF , 1527px 1626px #FFF , 1449px 449px #FFF , 1209px 778px #FFF , 751px 361px #FFF , 1224px 1004px #FFF , 841px 1827px #FFF , 1382px 1522px #FFF , 1240px 1988px #FFF , 1806px 1686px #FFF , 1957px 152px #FFF , 793px 569px #FFF , 248px 559px #FFF , 174px 81px #FFF , 1915px 1576px #FFF , 440px 626px #FFF , 1104px 940px #FFF , 1336px 143px #FFF , 978px 767px #FFF , 1711px 1413px #FFF , 1358px 356px #FFF , 1732px 1717px #FFF , 1277px 1641px #FFF , 1271px 1726px #FFF , 945px 1362px #FFF , 1510px 1122px #FFF , 472px 1927px #FFF , 533px 1823px #FFF , 1262px 691px #FFF , 1445px 244px #FFF , 160px 831px #FFF , 394px 369px #FFF , 1828px 933px #FFF , 1732px 1673px #FFF , 1729px 734px #FFF , 1242px 1584px #FFF , 622px 1507px #FFF , 1214px 590px #FFF , 185px 76px #FFF , 1415px 1074px #FFF , 1720px 801px #FFF , 461px 1857px #FFF , 652px 300px #FFF , 699px 1517px #FFF , 1456px 519px #FFF , 909px 503px #FFF , 1722px 972px #FFF , 478px 470px #FFF , 894px 690px #FFF , 999px 1954px #FFF , 269px 1556px #FFF , 840px 164px #FFF , 1833px 1392px #FFF , 1349px 1582px #FFF , 1943px 1026px #FFF , 274px 674px #FFF , 1855px 650px #FFF , 563px 344px #FFF , 1144px 221px #FFF , 664px 1156px #FFF , 1355px 1923px #FFF , 303px 387px #FFF , 1995px 1697px #FFF , 1536px 945px #FFF , 179px 991px #FFF , 723px 1438px #FFF , 249px 1815px #FFF , 1480px 1700px #FFF , 517px 1375px #FFF , 1594px 1210px #FFF , 348px 919px #FFF , 904px 957px #FFF , 175px 1918px #FFF , 1629px 1384px #FFF , 68px 1730px #FFF , 1468px 208px #FFF , 1128px 335px #FFF , 1154px 1354px #FFF , 30px 1743px #FFF , 425px 1882px #FFF , 1868px 409px #FFF , 629px 1747px #FFF , 397px 1591px #FFF , 615px 490px #FFF , 1735px 973px #FFF , 1049px 1407px #FFF , 423px 484px #FFF , 1714px 1827px #FFF , 1830px 1794px #FFF , 230px 1940px #FFF , 969px 101px #FFF , 1874px 784px #FFF , 1723px 1240px #FFF , 1576px 466px #FFF , 1356px 375px #FFF , 1991px 1520px #FFF , 887px 543px #FFF , 588px 898px #FFF , 110px 160px #FFF , 880px 1092px #FFF , 1553px 618px #FFF , 1904px 864px #FFF , 668px 1382px #FFF , 151px 532px #FFF , 310px 953px #FFF , 177px 79px #FFF , 666px 80px #FFF , 1663px 1217px #FFF , 776px 507px #FFF , 308px 1928px #FFF , 94px 722px #FFF , 693px 1937px #FFF , 97px 851px #FFF , 402px 12px #FFF , 1656px 333px #FFF , 1109px 69px #FFF , 1364px 1714px #FFF , 396px 1869px #FFF , 1432px 702px #FFF , 1821px 1431px #FFF , 262px 101px #FFF , 1634px 380px #FFF , 550px 1422px #FFF , 1226px 244px #FFF , 1991px 1168px #FFF , 987px 1005px #FFF , 525px 1238px #FFF , 1359px 1861px #FFF , 201px 1472px #FFF , 490px 1329px #FFF , 794px 1522px #FFF , 1621px 229px #FFF , 1744px 319px #FFF , 95px 653px #FFF , 475px 1380px #FFF , 228px 505px #FFF , 362px 1427px #FFF , 1513px 1413px #FFF , 96px 428px #FFF , 421px 1263px #FFF , 1109px 140px #FFF , 1592px 1022px #FFF , 1710px 1015px #FFF , 527px 1285px #FFF , 978px 487px #FFF , 1403px 389px #FFF , 975px 831px #FFF , 512px 449px #FFF , 1975px 1851px #FFF , 659px 1626px #FFF , 1412px 888px #FFF , 927px 938px #FFF , 243px 1852px #FFF , 536px 1258px #FFF , 63px 1954px #FFF , 134px 1839px #FFF , 567px 239px #FFF , 1700px 730px #FFF , 648px 1904px #FFF , 1015px 1044px #FFF , 1331px 80px #FFF , 1731px 71px #FFF , 37px 1631px #FFF , 1801px 216px #FFF , 236px 671px #FFF , 394px 824px #FFF , 12px 733px #FFF , 793px 1731px #FFF , 1023px 1712px #FFF , 1174px 608px #FFF , 1473px 605px #FFF , 446px 1620px #FFF , 744px 1173px #FFF , 1887px 585px #FFF , 1013px 1754px #FFF , 27px 513px #FFF , 206px 366px #FFF , 459px 1301px #FFF , 1221px 1757px #FFF , 190px 492px #FFF , 1784px 1281px #FFF , 1333px 370px #FFF , 1709px 1168px #FFF , 902px 513px #FFF , 588px 1353px #FFF , 359px 100px #FFF , 1761px 689px #FFF , 755px 45px #FFF , 1623px 1169px #FFF , 797px 334px #FFF , 1239px 200px #FFF , 69px 921px #FFF , 1812px 1053px #FFF , 1518px 633px #FFF , 671px 1949px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1253px 1641px #FFF , 374px 1786px #FFF , 314px 1514px #FFF , 1212px 839px #FFF , 1419px 588px #FFF , 1225px 282px #FFF , 505px 1005px #FFF , 864px 1665px #FFF , 1560px 40px #FFF , 974px 914px #FFF , 1457px 1896px #FFF , 890px 167px #FFF , 1416px 1506px #FFF , 885px 584px #FFF , 109px 1789px #FFF , 1049px 1199px #FFF , 828px 1033px #FFF , 1944px 1125px #FFF , 1143px 1233px #FFF , 547px 350px #FFF , 933px 651px #FFF , 1587px 1876px #FFF , 1787px 1987px #FFF , 1151px 1743px #FFF , 661px 1933px #FFF , 1862px 872px #FFF , 1903px 376px #FFF , 24px 1316px #FFF , 153px 520px #FFF , 530px 1454px #FFF , 13px 1613px #FFF , 311px 1391px #FFF , 254px 787px #FFF , 1752px 1106px #FFF , 966px 464px #FFF , 313px 79px #FFF , 229px 1336px #FFF , 1207px 1054px #FFF , 1537px 300px #FFF , 156px 1290px #FFF , 1458px 1191px #FFF , 1087px 713px #FFF , 686px 492px #FFF , 101px 1331px #FFF , 740px 1145px #FFF , 343px 899px #FFF , 676px 1508px #FFF , 194px 854px #FFF , 1523px 147px #FFF , 902px 531px #FFF , 1200px 670px #FFF , 1091px 562px #FFF , 460px 1890px #FFF , 1114px 1524px #FFF , 462px 1965px #FFF , 1173px 990px #FFF , 46px 1840px #FFF , 257px 381px #FFF , 1319px 622px #FFF , 407px 945px #FFF , 361px 483px #FFF , 248px 1639px #FFF , 1309px 1527px #FFF , 1937px 1465px #FFF , 883px 1416px #FFF , 1076px 827px #FFF , 571px 1685px #FFF , 1020px 661px #FFF , 1441px 1235px #FFF , 1850px 202px #FFF , 1871px 690px #FFF , 1096px 1484px #FFF , 1649px 1215px #FFF , 1184px 1221px #FFF , 16px 1341px #FFF , 1764px 424px #FFF , 586px 503px #FFF , 304px 660px #FFF , 554px 397px #FFF , 1368px 1178px #FFF , 1785px 1321px #FFF , 1426px 1100px #FFF , 1262px 1764px #FFF , 1391px 1318px #FFF , 1937px 407px #FFF , 1440px 1625px #FFF , 666px 1424px #FFF , 1197px 1399px #FFF , 9px 1538px #FFF , 748px 1430px #FFF , 550px 698px #FFF , 333px 153px #FFF , 50px 1522px #FFF , 531px 9px #FFF , 549px 1203px #FFF , 954px 960px #FFF , 1945px 368px #FFF , 909px 1312px #FFF , 1819px 569px #FFF , 773px 1881px #FFF;
  animation: animStar 150s linear infinite;
  margin-top:-2000px;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1253px 1641px #FFF , 374px 1786px #FFF , 314px 1514px #FFF , 1212px 839px #FFF , 1419px 588px #FFF , 1225px 282px #FFF , 505px 1005px #FFF , 864px 1665px #FFF , 1560px 40px #FFF , 974px 914px #FFF , 1457px 1896px #FFF , 890px 167px #FFF , 1416px 1506px #FFF , 885px 584px #FFF , 109px 1789px #FFF , 1049px 1199px #FFF , 828px 1033px #FFF , 1944px 1125px #FFF , 1143px 1233px #FFF , 547px 350px #FFF , 933px 651px #FFF , 1587px 1876px #FFF , 1787px 1987px #FFF , 1151px 1743px #FFF , 661px 1933px #FFF , 1862px 872px #FFF , 1903px 376px #FFF , 24px 1316px #FFF , 153px 520px #FFF , 530px 1454px #FFF , 13px 1613px #FFF , 311px 1391px #FFF , 254px 787px #FFF , 1752px 1106px #FFF , 966px 464px #FFF , 313px 79px #FFF , 229px 1336px #FFF , 1207px 1054px #FFF , 1537px 300px #FFF , 156px 1290px #FFF , 1458px 1191px #FFF , 1087px 713px #FFF , 686px 492px #FFF , 101px 1331px #FFF , 740px 1145px #FFF , 343px 899px #FFF , 676px 1508px #FFF , 194px 854px #FFF , 1523px 147px #FFF , 902px 531px #FFF , 1200px 670px #FFF , 1091px 562px #FFF , 460px 1890px #FFF , 1114px 1524px #FFF , 462px 1965px #FFF , 1173px 990px #FFF , 46px 1840px #FFF , 257px 381px #FFF , 1319px 622px #FFF , 407px 945px #FFF , 361px 483px #FFF , 248px 1639px #FFF , 1309px 1527px #FFF , 1937px 1465px #FFF , 883px 1416px #FFF , 1076px 827px #FFF , 571px 1685px #FFF , 1020px 661px #FFF , 1441px 1235px #FFF , 1850px 202px #FFF , 1871px 690px #FFF , 1096px 1484px #FFF , 1649px 1215px #FFF , 1184px 1221px #FFF , 16px 1341px #FFF , 1764px 424px #FFF , 586px 503px #FFF , 304px 660px #FFF , 554px 397px #FFF , 1368px 1178px #FFF , 1785px 1321px #FFF , 1426px 1100px #FFF , 1262px 1764px #FFF , 1391px 1318px #FFF , 1937px 407px #FFF , 1440px 1625px #FFF , 666px 1424px #FFF , 1197px 1399px #FFF , 9px 1538px #FFF , 748px 1430px #FFF , 550px 698px #FFF , 333px 153px #FFF , 50px 1522px #FFF , 531px 9px #FFF , 549px 1203px #FFF , 954px 960px #FFF , 1945px 368px #FFF , 909px 1312px #FFF , 1819px 569px #FFF , 773px 1881px #FFF;
}


@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
