<template>
    <div class="card m-4 category-container">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="card-title mb-0">類別列表</h5>
            <div class="d-flex align-items-center col-3">
                <div class="col-lg-6">
                    <select v-if="languages && languages.length > 1" class="form-control d-inline" @change="filterBy('lang', $event.target.value)" v-cloak>
                        <option v-for="language in languages" :value="language.id">{{ language.name }}</option>
                    </select>
                </div>
                <div class="col-lg-6" v-if="canCreate">
                    <div class="pull-right">
                        <a :href="getCreateUrl()" class="btn btn-success" style="margin:auto"><i class="fa fa-plus"></i> 新增</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <recursive-node :items="items"
                            :base-url="baseUrl"
                            :api-url="apiUrl"
                            :api-token="apiToken"
                            @changed="get()">
            </recursive-node>
        </div>
    </div>
</template>

<script>
    import RecursiveNode from "./RecursiveNode";

    export default {
        components: { RecursiveNode },
        props: {
            baseUrl: {
                type: String,
                required: true,
            },
            apiUrl: {
                type: String,
                required: true,
            },
            apiToken: {
                type: String,
            },
            languages: {
                type: Array,
            },
            canCreate: {
                type: Boolean,
                default: true,
            },
            canEdit: {
                type: Boolean,
                default: true,
            },
            canCopy: {
                type: Boolean,
                default: true,
            },
            canDelete: {
                type: Boolean,
                default: true,
            },
        },

        data() {
            return {
                items: [],
                params: {},
            }
        },

        created() {
            this.get();
        },

        methods: {
            get() {
                let vm = this;

                const http = axios.create({
                    baseURL: this.apiUrl,
                    params: this.params,
                });

                this.setApiToken(http);

                http.get().then(({ data }) => {
                    vm.items = data.data;
                }).catch((err) => {
                    notify('error', '系統錯誤');
                })
            },

            filterBy(field, value) {
                this.params[field] = value;
                this.get();
            },

            getCreateUrl() {
                return `${this.baseUrl}/create`;
            },

            setApiToken(ajax) {
                if (this.apiToken) ajax.defaults.headers.common['X-Auth-Token'] = this.apiToken;
            },
        }
    }
</script>