<template>
    <div>
        <div class="category-item mt-1" v-for="tree in items">
            <div class="d-flex align-items-center list-group-item">
                <div class="left" style="cursor: pointer;" @click.stop="toggleChild(tree.category.id)">
                    <span class="icon">
                        <i v-if="!tree.children_count" class="fa fa-folder-o"></i>
                        <i v-else-if="hideChild.includes(tree.category.id)" class="icon-closed fa fa-plus-square-o"></i>
                        <i v-else class="icon-opened fa fa-minus-square-o"></i>
                    </span>

                    <span class="name" v-text="tree.category.trans.name"></span>
                    <span class="badge badge-info text-white" v-text="tree.children_count"></span>
                </div>

                <div class="right ml-auto">
                    <c-switch v-if="hasStatus" type="text" variant="success" on="On" off="Off" class="switch-pill mb-0 align-middle" :checked="!!tree.category.status" @change="changeStatus(tree.category.id, tree.category.status)"></c-switch>
                    <a v-if="canEdit" :href="getEditUrl(tree.category.id)" class="btn btn-sm btn-primary"><i class="fa fa-pencil-square-o"></i></a>
                    <a v-if="canCopy" :href="getCopyUrl(tree.category.id)" class="btn btn-sm btn-primary"><i class="fa fa-files-o"></i></a>

                    <button v-if="canDelete" type="submit" class="btn btn-danger btn-sm mx-1" @click.prevent="deleteItem(tree.category.id)"><i class="fa fa-trash"></i></button>
                </div>
            </div>

            <div class="list-group pl-5" v-if="tree.children_count && !hideChild.includes(tree.category.id)">
                <recursive-node :items="tree.children"
                                :base-url="baseUrl"
                                :api-url="apiUrl"
                                :api-token="apiToken"
                                @deleted="$emit('deleted')">
                </recursive-node>
            </div>
        </div>
    </div>
</template>

<script>
    import cSwitch from './../Switch';

    export default {
        components: { cSwitch },

        name: "RecursiveNode",

        props: {
            items: {
                type: Array,
                default: () => [],
            },
            baseUrl: {
                type: String,
                required: true,
            },
            apiUrl: {
                type: String,
            },
            apiToken: {
                type: String,
            },
            canCreate: {
                type: Boolean,
                default: true,
            },
            canEdit: {
                type: Boolean,
                default: true,
            },
            canCopy: {
                type: Boolean,
                default: true,
            },
            canDelete: {
                type: Boolean,
                default: true,
            },
            hasStatus: {
                type: Boolean,
                default: true,
            }
        },

        data() {
            return {
                hideChild: [],
            }
        },

        methods: {
            toggleChild(id) {
                const index = this.hideChild.indexOf(id);

                if (index !== -1) {
                    this.hideChild.splice(index, 1);
                } else {
                    this.hideChild.push(id);
                }
            },

            getCopyUrl(id) {
                return `${this.baseUrl}/${id}/copy`;
            },

            getEditUrl(id) {
                return `${this.baseUrl}/${id}/edit`;
            },

            deleteItem(id) {
                if (confirm('確認刪除?')) {
                    axios.delete(`${this.baseUrl}/${id}`
                    ).then(({data}) => {
                        notify(data.type, data.text);
                        this.$emit('changed');
                    }).catch((err) => {
                        notify('error', err.data.text);
                    });
                }
            },

            changeStatus(id, status) {
                let vm = this;
                const http = axios.create({
                    baseURL: `${this.apiUrl}/${id}/status`,
                    params: { status: Number(!status) },
                });

                this.setApiToken(http);

                http.post().then(({data}) => {
                    notify(data.data.type, data.data.text);
                    this.$emit('changed');
                }).catch((err) => {
                    notify('error', '系統錯誤');
                })
            },

            setApiToken(ajax) {
                if (this.apiToken) ajax.defaults.headers.common['X-Auth-Token'] = this.apiToken;
            },
        }
    }
</script>